*{
	margin: 0px;
	padding: 0px;
}
.content{
	width: 400px;
	height: 400px;
	border: 0px solid red;
	margin: 50px auto;
	position:relative;
}
.ProgressBox{
	width: 200px;
	height:400px;
	position:absolute;
	top:0px;
	overflow: hidden;
}
.left{
	left:0px;
}
.right{
	right: 0px;
}
.progressCircle{
	width:300px;
	height:300px;
	border:50px solid #cfe;
	border-radius:50%;
	position:absolute;
}
.leftCircle{
	left:0px;
	border-top:50px solid #fee;
    border-right:50px solid #fee;
    -webkit-transform:rotate(45deg);
    -webkit-animation: Load_left 5s linear;
    animation-fill-mode: forwards;
}
.rightCircle{
	right:0px;
	border-bottom:50px solid #fee;
	border-left:50px solid #fee;
	transform: rotate(45deg);
	-webkit-animation: Load_right 5s linear;
	animation-fill-mode: forwards;
}
@-webkit-keyframes Load_right{
            0%{
                -webkit-transform: rotate(45deg);
            }
            50%{
                -webkit-transform: rotate(225deg);
            }
            100%{
                -webkit-transform: rotate(225deg);
            }
        }
 @-webkit-keyframes Load_left{
            0%{
                -webkit-transform: rotate(45deg);
            }
            50%{
                -webkit-transform: rotate(45deg);
            }
            100%{
                -webkit-transform: rotate(205deg);
            }
        }